@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #cf4278;
  font-size: 1.3rem;
}

.controls {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.metrics-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  align-items: center;
  text-align: end;
  background-color: #fc5193;
  background-size: 200px;
  background-position: 15%;
  background-repeat: no-repeat;
  height: 250px;
}

.metrics-title h1 {
  text-transform: uppercase;
}

.stats {
  background-color: #cf4278ef;
  text-transform: uppercase;
  padding: 0.3rem;
}

/* MAIN PAGE */
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fc5193;
}

.category {
  height: 250px;
  font-size: 1.5rem;
  background-size: 40%;
  background-position: top 15% right 50%;
  background-repeat: no-repeat;
}

.category:nth-child(4n-2),
.category:nth-child(4n-1) {
  background-color: #cf4278;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid transparent;
}

.link:hover {
  border: 1px solid #fff;
}

.exchange {
  margin-top: auto;
  text-align: right;
}

.marketCap {
  font-size: 0.9rem;
}

/* COMPANIES */
.companies {
  background-color: #fc5193;
}

.company {
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
}

.companies li:nth-child(even) {
  background-color: #cf4278;
}

.companyCap {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 1rem;
}

/* dark #ec4c8a
darker #cf4278
light: #fc5193 */

@media (max-width: 540px) {
  .categories {
    grid-template-columns: 1fr;
  }

  .category:nth-child(even) {
    background-color: #fc5193;
  }

  .category:nth-child(odd) {
    background-color: #cf4278;
  }
}
